# Compiled Object files
.idea
tex
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Live3dAvatar/*.zip
Live3dAvatar/video_markers/*/*.vi
Live3dAvatar/video_markers/
*.zip
gnuplot_example
